<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" l="report.costs.dialog.title">Current costs</h4>
      </div>
      <div class="modal-body">
        <p>Enter hours spend on the project.</p>
        <form class="form-horizontal">
          <div class="form-group">
            <label for="CDINPUT_1" class="col-sm-4 control-label">External</label>
            <div class="col-sm-4">
              <input type="number" class="form-control" ng-model="currentReport.hoursExternal" id="CDINPUT_1"/>
              </div>
              <p class="col-sm-4 form-control-static">
              * {{config.COST_EXTERNAL}}€ = {{currentReport.hoursExternal*config.COST_EXTERNAL}}
              </p>
          </div>
          <div class="form-group">
            <label for="CDINPUT_2" class="col-sm-4 control-label">Internal BI</label>
            <div class="col-sm-4">
              <input type="number" class="form-control" ng-model="currentReport.hoursInternalBI" id="CDINPUT_2"/>
            </div>
            <p class="col-sm-4 form-control-static">
              * {{config.COST_INTERNAL_BI}}€ = {{currentReport.hoursInternalBI*config.COST_INTERNAL_BI}}
            </p>
          </div>
          <div class="form-group">
            <label for="CDINPUT_3" class="col-sm-4 control-label">Internal iQuest</label>
            <div class="col-sm-4">
              <input type="number" class="form-control" ng-model="currentReport.hoursInternalIQuest" id="CDINPUT_3"/>
            </div>
            <p class="col-sm-4 form-control-static">
              * {{config.COST_INTERNAL_IQUEST}}€ = {{currentReport.hoursInternalIQuest*config.COST_INTERNAL_IQUEST}}
              </p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" l="cancel">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="calculateCosts()" l="save">Save</button>
      </div>
    </div>
  </div>
</div>