<nav class="navbar navbar-default hidden-print" role="navigation">
  <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>        
        <a class="navbar-brand" href="#">
          <!-- <img src="../images/bisnode.png"/> -->
          <div><div class="preports-logo"><div class="p">P</div><div class="r">R</div></div>eports&reg; | projects at a glance</div style="vertical-align: bottom;">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">  
         <ul class="nav navbar-nav navbar-right">
          <li>
            <div class="loading-indicator" style="margin-top: 8px; margin-bottom: 8px;" ng-show="ajaxLoading"></div>  
          </li>               
          <li>
            <div class="form-group navbar-btn" style="margin-right: 5px;">
              <select class="form-control" ng-model="user.language" ng-change="setUserLanguage()">
                <option value="DE">Deutsch</option>
                <option value="EN">English</option>
              </select>
           </div>
        </li>
          <li>
            <a href="#/about"><i class="glyphicon glyphicon-info-sign"></i> About</a>
          </li>
        </ul>
      </div>
  </div>
</nav>