<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>        
        <a class="navbar-brand" href="#"><img src="../images/bisnode.png"/><div style="display: inline-block; vertical-align: bottom; height: 47px;line-height: 47px; margin-left: 15px;">PReports | projects at a glance</div style="vertical-align: bottom;"></a>        
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">     
      <div class="navbar-right">
        <a type="button" href="#/about" class="btn btn-default navbar-btn"><i class="glyphicon glyphicon-info-sign"></i> About</a>
      </div>
    </div>
  </div>
</nav>