<a href="#/reports"><i class="glyphicon glyphicon-chevron-left"></i> back</a>

<div class="row">
	<div class="col-md-8">
		<div simple-property-editor editor-title="Project name" editor-on-save="updateReport();" editor-placeholder="project report name" editor-required editor-field="name" editor-entity="currentReport">
			<h1 ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving()}">				
				{{currentReport.name}}
			</h1>
		</div>
		
	</div>
	<div class="col-md-4">
		<button type="button" class="btn btn-danger" ng-click="deleteReport()"><i class="glyphicon glyphicon-trash"></i></button>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<p l="report.start.title" class="section-header">Project start</p>
		<div simple-property-editor editor-title="report.start.title" editor-on-save="updateReport();" editor-placeholder="report.start.ph" editor-required editor-field="start" editor-entity="currentReport">			
			<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving()}" class="section-content">	
			<span l="report.start.empty" ng-hide="currentReport.start" class="simple-property-placeholder" ng-class="{'alert-error' : infoPageInvalid, 'simple-property-placeholder' : !infoPageInvalid}">Enter start</span>		
				{{currentReport.start}}
			</p>
		</div>
	</div>
	<div class="col-md-4">
		<p l="report.projectManagers.title" class="section-header">Project GoLive</p>
		<div simple-property-editor editor-title="report.leaddevelopers" editor-on-save="updateReport();" editor-placeholder="report.golive.ph" editor-required editor-field="goLive" editor-entity="currentReport">			
			<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving()}" class="section-content">				
				<span l="report.golive.empty" ng-hide="currentReport.goLive" class="simple-property-placeholder" ng-class="{'alert-error' : infoPageInvalid, 'simple-property-placeholder' : !infoPageInvalid}">Enter go live</span>
				{{currentReport.goLive}}
			</p>
		</div>		
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<p l="report.year" class="section-header">Year</p>
		<select ng-model="currentReport.year" ng-change="updateReport()"  class="form-control"  style="width: 100px;">
			<option value="2014">2014</option>
			<option value="2015">2015</option>
			<option value="2016">2016</option>
			<option value="2017">2017</option>
		</select>		
	</div>
	<div class="col-md-4">
		<p l="report.week" class="section-header">Calendar week</p>
		<select ng-model="currentReport.week" ng-change="updateReport()" ng-options="c.week as c.week for c in calWeeks"  class="form-control" style="width: 50px;">
		</select>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<p l="report.leaddevelopers.title" class="section-header">Lead developers</p>
		<div simple-property-editor editor-title="report.leaddevelopers.title" editor-on-save="updateReport();" editor-placeholder="report.leaddevelopers.title" editor-required editor-field="leadDevelopers" editor-entity="currentReport">			
			<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving()}" class="section-content">				
				{{currentReport.leadDevelopers}}
			</p>
		</div>
	</div>
	<div class="col-md-6">
		<p l="report.projectManagers.title" class="section-header">Project manager</p>
		<div simple-property-editor editor-title="report.leaddevelopers" editor-on-save="updateReport();" editor-placeholder="report.projectManagers" editor-required editor-field="projectManagers" editor-entity="currentReport">			
			<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving()}" class="section-content">				
				<span l="report.projectManagers.title" ng-hide="currentReport.projectManagers" class="simple-property-placeholder" ng-class="{'alert-error' : infoPageInvalid, 'simple-property-placeholder' : !infoPageInvalid}">Project manager</span>
				{{currentReport.projectManagers}}
			</p>
		</div>		
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div style="margin-bottom: 10px;">			
			<button class="btn btn-primary btn-sm pull-right" ng-click="addMilestone();"><i class="glyphicon glyphicon-plus"></i></button>
			<p l="report.milestones.title" class="section-header">Milestones</p>			
		</div>
		<div ng-repeat="m in currentReport.milestones">
			<div class="row">
				<div class="col-md-4">	
					<div simple-property-editor editor-title="report.milestone.title" editor-on-save="updateReport();" editor-placeholder="report.milestone.title" editor-required editor-field="name" editor-entity="currentReport.milestones[$index]" editor-type="textfield">
						<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving()}">{{m.name}}</p>
					</div>
				</div>
				<div class="col-md-3">
					<div simple-property-editor editor-title="report.milestone.title" editor-on-save="updateReport();" editor-placeholder="report.milestone.title" editor-required editor-field="start" editor-entity="currentReport.milestones[$index]" editor-type="textfield">
						<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving()}">
							<span l="report.milestone.start" ng-hide="currentReport.milestones[$index].start" class="simple-property-placeholder" ng-class="{'alert-error' : infoPageInvalid, 'simple-property-placeholder' : !infoPageInvalid}">Start</span>
							{{m.start}}
						</p>
					</div>
				</div>
				<div class="col-md-3">
					<div simple-property-editor editor-title="report.milestone.title" editor-on-save="updateReport();" editor-placeholder="report.milestone.title" editor-required editor-field="end" editor-entity="currentReport.milestones[$index]" editor-type="textfield">
						<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving()}">{{m.end}}</p>
					</div>
				</div>
				<div class="col-md-2">
					<button class="btn btn-warning btn-sm pull-right" ng-click="removeMilestone($index);"><i class="glyphicon glyphicon-minus"></i></button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<p l="report.lastweektasks.title" class="section-header">Last week tasks</p>
		<div simple-property-editor editor-title="report.lastweektasks.title" editor-on-save="updateReport();" editor-placeholder="report.lastweektasks.title" editor-required editor-field="lastWeekTasks" editor-entity="currentReport" editor-type="textarea">
			<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving()}">				
				{{currentReport.lastWeekTasks}}
			</p>
		</div>
	</div>
	<div class="col-md-6">
		<p l="report.nextweektasks.title" class="section-header">Next week tasks</p>
		<div simple-property-editor editor-title="report.nextweektasks.title" editor-on-save="updateReport();" editor-placeholder="report.nextweektasks.title" editor-required editor-field="nextWeekTasks" editor-entity="currentReport" editor-type="textarea">
			<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving()}">				
				{{currentReport.nextWeekTasks}}
			</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<p l="report.potentials.title" class="section-header">Identified potentials</p>
		<div simple-property-editor editor-title="report.potentials.title" editor-on-save="updateReport();" editor-placeholder="report.potentials.ph" editor-required editor-field="potentials" editor-entity="currentReport" editor-type="textarea">			
			<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving()}" class="section-content">	
			<span l="report.start.empty" ng-hide="currentReport.potentials" class="simple-property-placeholder" ng-class="{'alert-error' : infoPageInvalid, 'simple-property-placeholder' : !infoPageInvalid}">Enter identified potentials</span>		
				{{currentReport.potentials}}
			</p>
		</div>
	</div>
	<div class="col-md-6">
		<p l="report.risksimpediments.title" class="section-header">Risks & Impediments</p>
		<div simple-property-editor editor-title="report.risksimpediments.title" editor-on-save="updateReport();" editor-placeholder="report.risksimpediments.ph" editor-required editor-field="risksImpediments" editor-entity="currentReport" editor-type="textarea">			
			<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving()}" class="section-content">				
				<span l="report.risksimpediments.empty" ng-hide="currentReport.risksImpediments" class="simple-property-placeholder" ng-class="{'alert-error' : infoPageInvalid, 'simple-property-placeholder' : !infoPageInvalid}">Enter risks and impediments</span>
				{{currentReport.risksImpediments}}
			</p>
		</div>		
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div style="margin-bottom: 10px;">			
			<button class="btn btn-primary btn-sm pull-right" ng-click="addCodeReview();"><i class="glyphicon glyphicon-plus"></i></button>
			<p l="report.codereviews.title" class="section-header">Code reviews</p>			
		</div>
		<div ng-repeat="cr in currentReport.codeReviews">
			<div class="row">
				<div class="col-md-5">	
					<div simple-property-editor editor-title="report.codereview.title" editor-on-save="updateReport();" editor-placeholder="report.codereview.title" editor-required editor-field="authors" editor-entity="currentReport.codeReviews[$index]" editor-type="textfield">
						<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving()}">{{cr.authors}}</p>
					</div>
				</div>
				<div class="col-md-5">
					<div simple-property-editor editor-title="report.codereview.title" editor-on-save="updateReport();" editor-placeholder="report.codereview.title" editor-required editor-field="underReview" editor-entity="currentReport.codeReviews[$index]" editor-type="textfield">
						<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving()}">
							<span l="report.codereview.start" ng-hide="currentReport.codeReviews[$index].start" class="simple-property-placeholder" ng-class="{'alert-error' : infoPageInvalid, 'simple-property-placeholder' : !infoPageInvalid}">Start</span>
							{{cr.underReview}}
						</p>
					</div>
				</div>				
				<div class="col-md-2">
					<button class="btn btn-warning btn-sm pull-right" ng-click="removeCodeReview($index);"><i class="glyphicon glyphicon-minus"></i></button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div simple-property-editor editor-title="report.codereview.title" editor-on-save="updateReport();" editor-placeholder="report.codereview.title" editor-required editor-field="results" editor-entity="currentReport.codeReviews[$index]" editor-type="textarea">
						<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving()}">{{cr.results}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>