<div class="row" style="margin-bottom: 10px;">
	<div class="col-md-12">
		<form role="form" class="form-inline">	
			<div class="form-group">
				<input type="text" class="form-control" placeholder="New report" ng-model="newReportName"></input>				
			</div>
			<button type="submit" class="btn btn-primary" ng-click="createNewReport()" ng-disabled="!newReportName"><i class="glyphicon glyphicon-plus"></i> New Report</button>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<form role="form" class="form-inline">	
			<div class="form-group">
			<div class="input-group input-group" style="width: 220px;">
			  <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
			  <input type="text" class="form-control" placeholder="search" ng-model="reportQuickSearch.name">
			</div>
		</div>
		<div class="form-group">
			<select ng-model="search.year" ng-change="loadReports()"  class="form-control"  >
				<option ng-selected="true">2014</option>
				<option>2015</option>
				<option>2016</option>
			</select>
		</div>
				<div class="form-group">
			<select ng-model="search.calweek" ng-change="loadReports()" ng-options="c.week as c.week for c in calWeeks"  class="form-control" >		
				<option value="">all</option>
			</select>
		</div>
		
	</form>
	</div>
</div> 
<div class="row">
<div class="col-md-12">	
	<table class="table table-hover">
		<thead>
			<th>Project name</th>
			<th>Week</th>
			<th>Year</th>
			<th>Actions</th>
		</thead>
		<tbody>
			<tr ng-repeat="r in reports | filter:reportQuickSearch.name">
				<td><a href="#/reports/{{r._id}}"><i class="glyphicon glyphicon-edit"></i> {{r.name}}</a></td>
				<td>{{r.week}}</td>
				<td>{{r.year}}</td>
				<td><i class="glyphicon glyphicon-download"></i> Copy</td>
			</tr>
		</tbody>
	</table>
</div>
</div>