$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

$global-border-radius: 3px;
$primary-color: #000;
$secondary-color: #FF8300;

/* Additional icons from IcoMoon */
@font-face {
  font-family: 'preports-icons';
  src:url('../fonts/preports-icons.eot?95ji2l');
  src:url('../fonts/preports-icons.eot?#iefix95ji2l') format('embedded-opentype'),
    url('../fonts/preports-icons.woff?95ji2l') format('woff'),
    url('../fonts/preports-icons.ttf?95ji2l') format('truetype'),
    url('../fonts/preports-icons.svg?95ji2l#preports-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'preports-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-undo:before {
  content: "\e600";
}

.icon-copy:before {
  content: "\e601";
}

/* For IE < 9 */
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-bottom: 20px;
}

.preports-logo {
    display: inline-block;
    /*color: $primary-color;*/

/*    &:after {
        content: "R";        
    }

    &:before {
        content:"\24B6";
          display: inline-block;
          -webkit-transform: rotate(30deg);
          -moz-transform: rotate(30deg);
          -o-transform: rotate(30deg);
          -ms-transform: rotate(30deg);
          transform: rotate(30deg);

        -moz-transform: scale(-1, 1);
        -webkit-transform: scale(-1, 1);
        -o-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
        transform: scale(-1, 1);
    }*/

    .p {
        -moz-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
        transform: scaleX(-1);
        display: inline-block;
    }

    .r {
        display: inline-block;
    }
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.navbar-brand {
    color: $secondary-color;
}

.loading-indicator {
  height: 16px;
  width: 16px;
  background-image: url('../images/ajax-loader.gif');
  background-size: auto;
  background-repeat: no-repeat;
  margin: 0 5px 0 5px;
  display: inline-block;
}

.simple-property-editor {
  border: 1px solid gray;
  background-color: white;
  padding: 5px;
  box-sizing:border-box;
  border-radius: $global-border-radius;
  right: 5px;
  left: 5px;
  z-index: 101;
  max-width: 400px;
  min-width: 250px;
}

.simple-property-editor input {
  width: 85%;
}

.simple-property-editor textarea {
  width: 85%;
}

.simple-property-placeholder {
  color: gray;
}

.simple-property-editor-mask {
  position:fixed;
  top: 0;
  left: 0;
  z-index:100;
  background-color:#000;
  opacity: .4;
  display:none;
}

.edit {
    padding: 2px;
}

.muted {
  padding: 2px;
  background-color: white !important;
}

.edit:hover {
    background-color: lightblue;
    border-radius: $global-border-radius;
}

.section {
    margin-bottom: 10px;

    .section-row {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .section-header {
        color: $secondary-color;
        font-size: 14px;
    }
}

.section-content {
    font-size: 18px;   
}

.report-image {
    position: relative;

    img {
        max-width: 100%; 
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    &:hover {
      .image-delete-button {
        display: block !important;
      }      
    }

    .image-delete-button {
        display: none;
        position: absolute;
        top: 15px;
        right: 5px;
    }
}

.file-drop {
    border-radius: 3px;
    border: 1px dotted gray;
    text-align: center;
    color: gray;
    height: 100px;
}

.file-drop-over {
    background-color: gray;
    color: white;
}

.about-wrapper {
    .credits {
        a {
            display: block;
            margin-bottom: 10px;
        }

        img {
            max-width: 200px;
        }
    }

    .bs-booticon-lg {
        width: 144px;
        height: 144px;
        font-size: 108px;
        line-height: 140px;
    }

    .bs-booticon {
        display: block;
        font-weight: 500;
        color: #fff;
        background-color: #563d7c;
        border-radius: 15%;
        cursor: default;
        text-align: center;
    }
}

table td {
  cursor: pointer;
}


@media print {

  @page {
    size: landscape;
    margins: 3cm;
  }

  .file-area, .muted, .simple-property-placeholder, button {
    display: none !important;
  }

  .no-print {
    display: none !important;
  }

  .images-section {
    page-break-before: always;
  }

  .section-header {
    font-size: 14px !important;
    color: #000 !important;
  }

  /*Bugfixes for printing issues. http://stackoverflow.com/questions/20243767/printing-page-with-bootstrap-3 */
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666666666666%;
  }
  .col-md-10 {
    width: 83.33333333333334%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666666666666%;
  }
  .col-md-7 {
    width: 58.333333333333336%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666666666667%;
  }
  .col-md-4 {
    width: 33.33333333333333%;
   }
   .col-md-3 {
     width: 25%;
   }
   .col-md-2 {
     width: 16.666666666666664%;
   }
   .col-md-1 {
    width: 8.333333333333332%;
   }   

   body {
    padding: 0px;
    margin: 0px;
  }

  .section {
    /*border: 1px solid gray;*/
    /*padding: 5px;*/
    /*border-radius: 3px;*/
    page-break-inside: avoid;
    margin-bottom: 15px;
  }

}