$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

$global-border-radius: 3px;

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.loading-indicator {
  height: 32px;
  width: 32px;
  background-image: url('../images/ajax-loader.gif');
  background-size: auto;
  background-repeat: no-repeat;
  margin: 5px;
}

.simple-property-editor {
  border: 1px solid gray;
  background-color: white;
  padding: 5px;
  box-sizing:border-box;
  border-radius: $global-border-radius;
  right: 5px;
  left: 5px;
  z-index: 101;
  max-width: 400px;
  min-width: 250px;
}

.simple-property-editor input {
  width: 85%;
}

.simple-property-editor textarea {
  width: 85%;
}

.simple-property-placeholder {
  color: gray;
}

.simple-property-editor-mask {
  position:fixed;
  top: 0;
  left: 0;
  z-index:100;
  background-color:#000;
  opacity: .4;
  display:none;
}

.edit {
    padding: 2px;
}

.muted {
  padding: 2px;
}

.edit:hover {
    background-color: lightblue;
    border-radius: $global-border-radius;
}

.section-header {
    color: #888;
    font-size: 14px;
}

.section-content {
    font-size: 18px;   
}

.report-image {
    position: relative;
    
    img {
        max-width: 100%; 
        align: center;
    }
    .image-delete-button {
        /*display: none;*/
        position: absolute;
        top: 10px;
        right: 10px;
    }
}

.file-drop {
    border-radius: 3px;
    border: 1px dotted gray;
    text-align: center;
    color: gray;
    height: 100px;
}

.file-drop-over {
    background-color: gray;
    color: white;
}