.fab {
  cursor: pointer;
}
.fab-backdrop {
  color: rgba(255, 255, 255, 0);
}
.fab-primary, .fab-secondary {
  transition: all 0.35s ease-in-out;
}
.fab.active .fab-primary {
  opacity: 0;
  transform: rotate(225deg);
}
.fab-secondary {
  opacity: 0;
  transform: rotate(-225deg);
}
.fab.active .fab-secondary {
  opacity: 1;
  transform: rotate(0);
  margin-top: -2px;
}

.compose-button .show-on-hover {
    position: fixed;
    bottom: 50px;
    right: 80px;
}
.compose-button .btn-io{
    border-radius: 50%;
    height: 4em;
    width: 4em;
    padding: 0 !important;
    box-shadow: 0px 3px 7px 0px rgba(202, 124, 124, 0.72);
}

.compose-button .fa-iox{
    font-size: 22px;
}

.compose-button .fa-iosm{
    
    margin-top: 7px;
}

.compose-button-mask {
  position:fixed;
  top: 0;
  left: 0;
  z-index:100;
  background-color:#000;
  opacity: .4;
  display:none;
}

.compose-button-dialog {
    position: fixed;
    padding: 5px;
    box-sizing:border-box;
    right: 0px;
    left: 0px;
    z-index: 101;
    max-width: 768px;
    min-width: 250px;
    margin: auto;
    display: none;
    top: 45%;

    input {
        height: auto;
        line-height: 50px;
        font-size: 35px;
    }

    .btn {
        line-height: 50px;
    }
}