/*$icon-font-path: "/bower_components/sass-bootstrap/fonts/";*/

/*@import 'sass-bootstrap/lib/bootstrap';*/
$icon-font-path: '../bower_components/bootstrap-sass/assets/fonts/bootstrap/';
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-compass";

@import 'signal';

$global-border-radius: 3px;
$primary-color: #000;
$secondary-color: #FF8300;
$tertiary-color: #06799F;

/* Additional icons from IcoMoon */
@font-face {
  font-family: 'preports-icons';
  src:url('../fonts/preports-icons.eot?95ji2l');
  src:url('../fonts/preports-icons.eot?#iefix95ji2l') format('embedded-opentype'),
    url('../fonts/preports-icons.woff?95ji2l') format('woff'),
    url('../fonts/preports-icons.ttf?95ji2l') format('truetype'),
    url('../fonts/preports-icons.svg?95ji2l#preports-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*See https://docs.angularjs.org/api/ng/directive/ngCloak */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'preports-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-undo:before {
  content: "\e600";
}

.icon-copy:before {
  content: "\e601";
}

.icon-lock:before {
  content: "\e602";
}

.icon-unlock:before {
  content: "\e603";
}

/* For IE < 9 */
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-bottom: 20px;
}

.preports-logo {
    display: inline-block;
    /*color: $primary-color;*/

/*    &:after {
        content: "R";        
    }

    &:before {
        content:"\24B6";
          display: inline-block;
          -webkit-transform: rotate(30deg);
          -moz-transform: rotate(30deg);
          -o-transform: rotate(30deg);
          -ms-transform: rotate(30deg);
          transform: rotate(30deg);

        -moz-transform: scale(-1, 1);
        -webkit-transform: scale(-1, 1);
        -o-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
        transform: scale(-1, 1);
    }*/

    .p {
        -moz-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
        transform: scaleX(-1);
        display: inline-block;
    }

    .r {
        display: inline-block;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

    /* Limit max container size to get achieve a more document like view */
   /* .container {
        max-width: 730px;
    }
*/
    /* Remove the padding we set earlier */
    /*.header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }*/
    /* Space out the masthead */
   /* .header {
        margin-bottom: 30px;
    }*/
    /* Remove the bottom border on the jumbotron for visual effect */
  /*  .jumbotron {
        border-bottom: 0;
    }*/
}

.navbar-brand {
    color: $secondary-color;
}

.loading-indicator {
  height: 16px;
  width: 16px;
  background-image: url('../images/ajax-loader.gif');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 5px 0 5px;
}

.simple-property-editor {
  border: 1px solid gray;
  background-color: white;
  padding: 5px;
  box-sizing:border-box;
  border-radius: $global-border-radius;
  right: 5px;
  left: 5px;
  z-index: 101;
  max-width: 500px;
  min-width: 250px;
}

.simple-property-editor input {
  width: 85%;
}

.simple-property-editor textarea {
  width: 85%;
}

.simple-property-placeholder {
  color: gray;
}

.simple-property-editor-mask {
  position:fixed;
  top: 0;
  left: 0;
  z-index:100;
  background-color:#000;
  opacity: .4;
  display:none;
}

.edit {
    padding: 2px;
    word-break: break-word
}

.muted {
  padding: 2px;
  background-color: white !important;
}

.edit:hover {
    background-color: lightblue;
    border-radius: $global-border-radius;
}

.section {
    margin-bottom: 10px;

    .section-row {
        padding-top: 6px;
        padding-bottom: 6px;
    }

    .section-header {
        color: $secondary-color;
        font-size: 12px;
        margin-bottom: 4px;
    }

    .section-info {
      color: $tertiary-color;
      font-size: 10px;
    }
    
    .section-collection {
        margin-bottom: 15px;
    }
    
    // .section-collection-sep {
    //     border-bottom: 1px solid black;                
    // }    
    
    .section-collection-sep:last-child:after {
        border-bottom: none;        
    }
    
    .section-collection-sep:after {
        content: "";
        left: 5%;
        position: absolute;
        height: 1px;
        width: 90%;
        border-bottom: 1px solid #ddd;
    }
    
}

.section-content {
    font-size: 16px;   
}

    
.report-brand {
    display: flex;
    justify-content: flex-end;
    
    > div {
        padding: 0 15px;
                
        > img {
            height: 50px;        
        }
    }
    
}



.report-image {
    position: relative;

    img {
        max-width: 100%; 
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    &:hover {
      .image-delete-button {
        display: block !important;
      }      
    }

    .image-delete-button {
        display: none;
        position: absolute;
        top: 15px;
        right: 5px;
    }
}

.report-image-locked {
    &:hover {
      .image-delete-button {
        display: none !important;
      }      
    }
}

.file-drop, .nv-file-drop {
    border-radius: 3px;
    border: 1px dotted gray;
    text-align: center;
    color: gray;
    height: 100px;
}

.nv-file-over {
    background-color: gray;
    color: white;
}

.about-wrapper {
    .credits {
        display: flex;
        flex-wrap: wrap;
        
        a, div {            
            display: inline-block;
            margin:10px 5px 5px 2%;
            flex-grow: 1;                        
        }

        img {
            height:100px;
        }
    }

    .bs-booticon-lg {
        width: 144px;
        height: 144px;
        font-size: 108px;
        line-height: 140px;
    }

    .bs-booticon {
        display: block;
        font-weight: 500;
        color: #fff;
        background-color: #563d7c;
        border-radius: 15%;
        cursor: default;
        text-align: center;
    }
}

table {
  td {
    cursor: pointer;
  }

  td.reports-time {
    min-width: 120px;
  }
}

$state-size: 15px;
$state-radius: 50%;
$state-color-yellow: #F4E544;
$state-color-red: #AE1E21;
$state-color-green: green;

.state-marker {
    width: $state-size;
    height: $state-size;
    border-radius: $state-radius;
    border: 1px solid #c3c3c3;
    margin: 3px 0 3px 0;

    &.red {
      background-color: $state-color-red !important;
      border-color: darken($state-color-red, 10%);
    }

    &.yellow {
      background-color: $state-color-yellow !important;
      border-color: darken($state-color-yellow, 10%);
    }

    &.green {
      background-color: $state-color-green !important;
      border-color: darken($state-color-green, 10%);
    }
}

.row-selected {
  background-color: darken(#f5f5f5, 10%);
}


