$signal-size: 40px;
$signal-radius: 50%;
$signal-color-yellow: #F4E544;
$signal-color-red: #AE1E21;
$signal-color-green: green;


.signal {
	float: left;
	margin: 0 10px 0 10px;

	.signal-title {
		text-align: center;
	}


	.signal-body {
		border: 1px solid black;
		border-radius: 8px;
 		padding: 3px 5px;
 		box-shadow: 1px 1px 1px #888888;
	}

	.signal-light {
		width: $signal-size;
		height: $signal-size;
		border-radius: $signal-radius;
		border: 1px solid #c3c3c3;
		margin: 3px 0 3px 0;
		-webkit-transition: background-color 1;
    	transition: background-color 1s;

		&.red {
			background-color: $signal-color-red !important;
			border-color: darken($signal-color-red, 10%);
		}

		&.yellow {
			background-color: $signal-color-yellow !important;
			border-color: darken($signal-color-yellow, 10%);
		}

		&.green {
			background-color: $signal-color-green !important;
			border-color: darken($signal-color-green, 10%);
		}

		input {
			display: none;
		}
	}
}