<div class="container">
    <div class="row">
        <div class="col-md-12 about-wrapper">
            <h1><div class="preports-logo"><div class="p">P</div>Reports</div>&nbsp;| projects at a glance</h1>
            <p>Version {{version}}</p>
            <p>Simplify your weekly project reports. <a href="http://p-reports.com" target="_blank">Read more</a></p>
            <p style="margin: 10px 0; font-size: 18px;">Pro Tip: <span style="font-weight: bold;">press ?</span> to show keyboard hotkeys.</p>
            <p ng-show="reportsCount"> Happily serving <strong>{{reportsCount}}</strong> reports.</p>
            <iframe src="https://ghbtns.com/github-btn.html?user=karazy&repo=preports&type=watch&count=true&size=large&v=2" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
            <br>
            <br>
            <br>
            <p><i class="glyphicon glyphicon-question-sign"></i> Need support or found a bug?<br>
                Feel free to send a mail <i class="glyphicon glyphicon-send"></i> <a href="mailto:frederik.reifschneider@gmail.com">frederik.reifschneider@gmail.com</a>
            </p>
            <br>
            <p>Made with &#10084; in Darmstadt</p>
            <p>&copy; Frederik Reifschneider (2016)</p>
        </div>
    </div>
</div>