<!-- Report modified 428 dialog -->
<div class="modal fade" id="dialogModifiedReport">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" l="report.428.title">Report modified</h4>
      </div>
      <div class="modal-body">
        <p l="report.428.msg">Report has been modified in the meantime. You can reload and discard your last change or cancel, then copy your last change and reload manually. The undo stack has been emptied to prevent overrides.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" l="report.428.cancel">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="reloadReport(false);" l="report.428.reload">Reload and discard</button>
      </div>
    </div>
  </div>
</div>
<div ng-show="currentReport._id">
	<div class="alert alert-danger" ng-show="deleteTimer">
		<h4><span l="report.killing.msg">Deleting report {{reportToDelete.name}} in</span> {{remainingSecondsBeforeDoomsday}}</h4>
		<br/>
		<button ng-click="delayDoomsday()" class="btn btn-warning" l="cancel">Cancel</button>
	</div>	
	<!-- Report detail view. -->
	<div class="row hidden-print">
		<div class="col-md-4">
			<a href="#/reports"><i class="glyphicon glyphicon-chevron-left"></i> <span l="reports.back">Reports</span></a>
			<!-- <a href="#/reports/{{currentReport.copyOf}}" ng-show="currentReport.copyOf" class="pull-right"><i class="glyphicon glyphicon-download"></i> <span l="report.copyof">This is a copy.</span></a>		 -->
		</div>
		<!-- Action bar -->
		<div class="col-md-8">
			<div ng-include src="'views/reports_detail/actionbar.html'"></div>
		</div>
	</div>
	<div class="row section">
		<div class="col-md-12">
			<div simple-property-editor editor-title="report.name" editor-on-save="updateReport(modifiedProperty, prevValue);" editor-placeholder="report.name" editor-required editor-field="name" editor-entity="currentReport" editor-enabled="!currentReport.locked">				
				<h1 ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving() || currentReport.locked}">				
					{{currentReport.name}}
				</h1>								
			</div>
		</div>
		<!-- <i class="glyphicon glyphicon-arrow-left"></i>  -->		
	</div>
	<div class="row section">
		<div class="col-md-4">
			<div simple-property-editor editor-title="report.ordernumber.title" editor-on-save="updateReport(modifiedProperty, prevValue);" editor-placeholder="report.ordernumber.ph" editor-required editor-field="orderNumber" editor-entity="currentReport" editor-enabled="!currentReport.locked">
				<span l="report.ordernumber.title">#Order</span>
				<span ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving() || currentReport.locked}" class="section-content">	
				<span l="report.ordernumber.ph" ng-hide="currentReport.orderNumber" class="simple-property-placeholder">Enter Order</span>		
					{{currentReport.orderNumber}}
				</span>
			</div>
		</div>
	</div>
	<div class="row section">
		<!-- Signals -->
		<div class="col-md-4">
			<signal signal-title="report.signal.budget" signal-field="budgetState" signal-entity="currentReport" on-signal-change="updateReport(modifiedProperty, prevValue)" signal-enabled="!currentReport.locked"></signal>
			<signal signal-title="report.signal.time" signal-field="timeState" signal-entity="currentReport" on-signal-change="updateReport(modifiedProperty, prevValue)" signal-enabled="!currentReport.locked"></signal>
			<signal signal-title="report.signal.quality" signal-field="qualityState" signal-entity="currentReport" on-signal-change="updateReport(modifiedProperty, prevValue)" signal-enabled="!currentReport.locked"></signal>
		</div>
		<!-- Costs -->
		<div class="col-md-8">		
			<table class="table">
				<thead>
					<th l="report.costs.table.th.title">K€</th>
					<th l="report.costs.table.th.plan">Plan</th>
					<th l="report.costs.table.th.current">Current</th>
					<th l="report.costs.table.th.rest">Rest</th>
					<th>Δ%</th>
				</thead>
				<tbody>
					<tr>
						<th l="report.costs.table.tr.title">COST(total)</th>
						<td>
						<div simple-property-editor editor-title="report.costs.plan" editor-on-save="updateReport(modifiedProperty, prevValue);" editor-field="costsPlanned" editor-entity="currentReport" editor-enabled="!currentReport.locked" editor-type="number" editor-placeholder="report.costs.plan.ph">			
								<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving() || currentReport.locked}" class="section-content">	
								<span l="report.costs.plan.ph" ng-hide="currentReport.costsPlanned" class="simple-property-placeholder">Planned costs</span>		
									{{currentReport.costsPlanned}}
								</p>
							</div>
						</td>
						<td>					
						<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving() || currentReport.locked}" class="section-content" ng-click="toggleCostDialog()">
							<span l="report.costs.current.ph" ng-hide="currentReport.costsCurrent || isZero(currentReport.costsCurrent)" class="simple-property-placeholder">Current costs</span>    
						  	{{currentReport.costsCurrent}}
						</p>
						</td>
						<td>
							<div simple-property-editor editor-title="report.costs.rest" editor-on-save="updateReport(modifiedProperty, prevValue);" editor-field="costsRest" editor-entity="currentReport" editor-enabled="!currentReport.locked" editor-placeholder="report.costs.rest.ph">			
								<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving() || currentReport.locked}" class="section-content">	
								<span l="report.costs.rest.ph" ng-hide="currentReport.costsRest" class="simple-property-placeholder">Remaining</span>		
									{{currentReport.costsRest}}
								</p>
							</div>
						</td>
						<td>{{currentReport.costsDelta}}</td>
					</tr>
				</tbody>
			</table>
			<table class="table">
				<thead>
					<th></th>
					<th l="report.time.plan.title">Plan</th>
					<th l="report.time.current.title">Current</th>
				</thead>
				<tbody>
					<tr>
						<th l="report.time.time.title">Time</th>
						<td class="reports-time">
						<div simple-property-editor editor-title="report.time.plan" editor-on-save="updateReport(modifiedProperty, prevValue);" editor-field="timePlanned" editor-entity="currentReport" editor-enabled="!currentReport.locked" editor-placeholder="report.time.plan.ph" editor-type="datepicker">			
								<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving() || currentReport.locked}" class="section-content">	
								<span l="report.time.plan.ph" ng-hide="currentReport.timePlanned" class="simple-property-placeholder">GoLive planned</span>		
									{{currentReport.timePlanned | date:'yyyy-MM-dd'}}
								</p>
							</div>
						</td>
						<td class="reports-time">
							<div simple-property-editor editor-title="report.time.current" editor-on-save="updateReport(modifiedProperty, prevValue);" editor-field="timeCurrent" editor-entity="currentReport" editor-enabled="!currentReport.locked" editor-placeholder="report.time.current.ph" editor-type="datepicker">			
								<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving() || currentReport.locked}" class="section-content">	
								<span l="report.time.current.ph" ng-hide="currentReport.timeCurrent" class="simple-property-placeholder">Current time</span>		
									{{currentReport.timeCurrent | date:'yyyy-MM-dd'}}
								</p>
							</div>							
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!--@Deprecated Start and GoLive. -->
	<!--
	<div class="row section">
		<div class="col-md-6">
			<p l="report.start.title" class="section-header">Project start</p>
			<div simple-property-editor editor-title="report.start.title" editor-on-save="updateReport(modifiedProperty, prevValue);" editor-placeholder="report.start.ph" editor-required editor-field="start" editor-entity="currentReport" editor-enabled="!currentReport.locked">			
				<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving() || currentReport.locked}" class="section-content">	
				<span l="report.start.ph" ng-hide="currentReport.start" class="simple-property-placeholder">Enter start</span>		
					{{currentReport.start}}
				</p>
			</div>
		</div>
		<div class="col-md-6">
			<p l="report.golive.title" class="section-header">Project GoLive</p>
			<div simple-property-editor editor-title="report.golive.title" editor-on-save="updateReport(modifiedProperty, prevValue);" editor-placeholder="report.golive.ph" editor-required editor-field="goLive" editor-entity="currentReport" editor-enabled="!currentReport.locked">			
				<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving() || currentReport.locked}" class="section-content">				
					<span l="report.golive.ph" ng-hide="currentReport.goLive" class="simple-property-placeholder" >Enter go live</span>
					{{currentReport.goLive}}
				</p>
			</div>		
		</div>
	</div>
	-->
	<div class="row section">
		<div class="col-md-6">
			<p l="report.year" class="section-header">Year</p>
			<select ng-model="currentReport.year" ng-options="y as y for y in years" ng-change="updateReportYear(currentReport.year, '{{currentReport.year}}');"  class="form-control hidden-print"  style="width: 100px;" ng-disabled="currentReport.locked">
			</select>
			<p class="visible-print">{{currentReport.year}}</p>
		</div>
		<div class="col-md-6">
			<p l="report.week" class="section-header">Calendar week</p>
			<form class="form-inline hidden-print" style="width:178px;">
  				<div class="form-group">
  					<div class="input-group">
	  					<div class="input-group-btn">
							<button class="btn btn-default" ng-click="incrementalUpdateReportWeek('dec')" ng-disabled="currentReport.locked"><i class="glyphicon glyphicon-minus"></i></button>
						</div>
						<select class="form-control" ng-model="currentReport.week" ng-change="updateReportWeek(currentReport.week, '{{currentReport.week}}');" ng-options="c.week as c.week for c in weeks"  class="form-control hidden-print" style="width: 100px;" ng-disabled="currentReport.locked">
						</select>
						<span class="input-group-btn">
							<button class="btn btn-default" ng-click="incrementalUpdateReportWeek('inc')" ng-disabled="currentReport.locked"><i class="glyphicon glyphicon-plus"></i></button>
						</span>
					</div>
				</div>
			</form>
			<p class="visible-print">{{currentReport.week}}</p>
		</div>
	</div>
	<div class="row section">
		<div class="col-md-6">
			<p l="report.executivesponsor.title" class="section-header">Executive Sponsor</p>
			<div simple-property-editor editor-title="report.executivesponsor.title" editor-on-save="updateReport(modifiedProperty, prevValue);" editor-placeholder="report.executivesponsor.ph" editor-field="executiveSponsor" editor-entity="currentReport" editor-enabled="!currentReport.locked">			
				<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving() || currentReport.locked}" class="section-content">		<span l="report.executivesponsor.ph" ng-hide="currentReport.executiveSponsor" class="simple-property-placeholder" >Executive Sponsor</span>
					{{currentReport.executiveSponsor}}
				</p>
			</div>
		</div>
		<div class="col-md-6">
			<p l="report.partner.title" class="section-header">Partner</p>
			<div simple-property-editor editor-title="report.partner.title" editor-on-save="updateReport(modifiedProperty, prevValue);" editor-placeholder="report.partner.ph" editor-field="partner" editor-entity="currentReport" editor-enabled="!currentReport.locked">			
				<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving() || currentReport.locked}" class="section-content">
					<span l="report.partner.ph" ng-hide="currentReport.partner" class="simple-property-placeholder" >Partner</span>
					{{currentReport.partner}}
				</p>
			</div>		
		</div>
	</div>
	<div class="row section">
		<div class="col-md-6">
			<p l="report.leaddevelopers.title" class="section-header">Lead developers</p>
			<div simple-property-editor editor-title="report.leaddevelopers.title" editor-on-save="updateReport(modifiedProperty, prevValue);" editor-placeholder="report.leaddevelopers.ph" editor-field="leadDevelopers" editor-entity="currentReport" editor-enabled="!currentReport.locked">			
				<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving() || currentReport.locked}" class="section-content">		<span l="report.leaddevelopers.ph" ng-hide="currentReport.leadDevelopers" class="simple-property-placeholder" >Project manager</span>
					{{currentReport.leadDevelopers}}
				</p>
			</div>
		</div>
		<div class="col-md-6">
			<p l="report.projectmanagers.title" class="section-header">Project manager</p>
			<div simple-property-editor editor-title="report.projectmanagers.title" editor-on-save="updateReport(modifiedProperty, prevValue);" editor-placeholder="report.projectmanagers.ph" editor-field="projectManagers" editor-entity="currentReport" editor-enabled="!currentReport.locked">			
				<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving() || currentReport.locked}" class="section-content">
					<span l="report.projectmanagers.ph" ng-hide="currentReport.projectManagers" class="simple-property-placeholder" >Project manager</span>
					{{currentReport.projectManagers}}
				</p>
			</div>		
		</div>
	</div>
	<!-- Milestones -->
	<div class="row section">
		<div class="col-md-12">
			<div style="margin-bottom: 15px;">			
				<button class="btn btn-primary btn-sm pull-right" ng-click="addMilestone();" ng-hide="currentReport.locked"><i class="glyphicon glyphicon-plus"></i></button>
				<p class="section-header"><span l="report.milestones">Milestones</span>
				<i class="glyphicon glyphicon-question-sign hidden-print" data-toggle="tooltip" title="Drag & Drop milestones to rearrange" data-placement="top"></i>
				</p>							
			</div>
			<div class="row section-row" ng-show="currentReport.milestones.length > 0">
				<div class="col-md-4 section-info" l="date">
					Date
				</div>
				<div class="col-md-6 section-info" l="milestone">
					Milestone
				</div>				
			</div>
			<div ui-sortable="reportSortableOptions" ng-model="currentReport.milestones">
				<div ng-repeat="m in currentReport.milestones" style="margin-bottom: 15px;">
					<div class="row section-row">
						<div class="col-md-4">
							<div simple-property-editor editor-title="report.milestones.end" editor-on-save="updateReport(modifiedProperty, prevValue, true, $index, 'milestones');" editor-placeholder="date" editor-field="end" editor-entity="currentReport.milestones[$index]" editor-enabled="!currentReport.locked" editor-type="datepicker">
								<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving() || currentReport.locked}" class="section-content">
									<span l="date" ng-hide="currentReport.milestones[$index].end" class="simple-property-placeholder" >date</span>
									{{m.end | date:'yyyy-MM-dd'}}
								</p>
							</div>
						</div>
						<div class="col-md-6">	
							<div simple-property-editor editor-title="report.milestones" editor-on-save="updateReport(modifiedProperty, prevValue, true, $index, 'milestones');" editor-placeholder="report.milestones.ph" editor-required editor-field="name" editor-entity="currentReport.milestones[$index]" editor-type="textfield" editor-enabled="!currentReport.locked">
								<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving() || currentReport.locked}" class="section-content">{{m.name}}</p>
							</div>
						</div>
						<div class="col-md-2">
							<button class="btn btn-warning btn-xs pull-right" ng-click="removeMilestone($index);" ng-hide="currentReport.locked"><i class="glyphicon glyphicon-minus"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Tasks -->
	<div class="row section">
		<div class="col-md-6">
			<p l="report.lastweektasks" class="section-header">Last week tasks</p>
			<div simple-property-editor editor-title="report.lastweektasks" editor-on-save="updateReport(modifiedProperty, prevValue);" editor-placeholder="report.tasks.ph" editor-field="lastWeekTasks" editor-entity="currentReport" editor-type="textarea" editor-enabled="!currentReport.locked">
				<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving() || currentReport.locked}" class="section-content">	
					<span l="report.tasks.ph" ng-hide="currentReport.lastWeekTasks" class="simple-property-placeholder" >Enter tasks</span>
					<span ng-bind-html="currentReport.lastWeekTasks | breakFilter"></span>
				</p>
			</div>
		</div>
		<div class="col-md-6">
			<p l="report.nextweektasks" class="section-header">Next week tasks</p>
			<div simple-property-editor editor-title="report.nextweektasks" editor-on-save="updateReport(modifiedProperty, prevValue);" editor-placeholder="report.tasks.ph" editor-field="nextWeekTasks" editor-entity="currentReport" editor-type="textarea" editor-enabled="!currentReport.locked">
				<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving() || currentReport.locked}" class="section-content">	
				<span l="report.tasks.ph" ng-hide="currentReport.nextWeekTasks" class="simple-property-placeholder" >Enter tasks</span>
				<span ng-bind-html="currentReport.nextWeekTasks | breakFilter"></span>
				</p>
			</div>
		</div>
	</div>
	<!-- Additional information -->
	<div class="row section">
		<div class="col-md-6">
			<p l="report.potentials" class="section-header">Identified potentials</p>
			<div simple-property-editor editor-title="report.potentials" editor-on-save="updateReport(modifiedProperty, prevValue);" editor-placeholder="report.potentials.ph" editor-field="potentials" editor-entity="currentReport" editor-type="textarea" editor-enabled="!currentReport.locked">			
				<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving() || currentReport.locked}" class="section-content" class="section-content">	
				<span l="report.potentials.ph" ng-hide="currentReport.potentials" class="simple-property-placeholder" >Enter</span>		
				<span ng-bind-html="currentReport.potentials | breakFilter"></span>
				</p>
			</div>
		</div>
		<div class="col-md-6">
			<p l="report.risks" class="section-header">Risks & Impediments</p>
			<div simple-property-editor editor-title="report.risks" editor-on-save="updateReport(modifiedProperty, prevValue);" editor-placeholder="report.risks.ph" editor-field="risksImpediments" editor-entity="currentReport" editor-type="textarea" editor-enabled="!currentReport.locked">			
				<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving() || currentReport.locked}" class="section-content" class="section-content">				
					<span l="report.risks.ph" ng-hide="currentReport.risksImpediments" class="simple-property-placeholder" >Enter risks/impediments</span>
					<span ng-bind-html="currentReport.risksImpediments | breakFilter"></span>
				</p>
			</div>		
		</div>
	</div>
	<!-- Code reviews -->
	<div class="row section">
		<div class="col-md-12">
			<div style="margin-bottom: 15px;">			
				<button class="btn btn-primary btn-sm pull-right" ng-click="addCodeReview();" ng-hide="currentReport.locked"><i class="glyphicon glyphicon-plus"></i></button>
				<p l="report.codereviews" class="section-header">Code reviews</p>			
			</div>
			<div ng-repeat="cr in currentReport.codeReviews" style="margin-bottom: 15px;">
				<div class="row section-row">
					<div class="col-md-5">	
						<div simple-property-editor editor-title="report.codereviews.reviewer" editor-on-save="updateReport(modifiedProperty, prevValue, true, $index, 'codeReviews');" editor-placeholder="report.codereviews.reviewer.ph" editor-required editor-field="authors" editor-entity="currentReport.codeReviews[$index]" editor-type="textfield" editor-enabled="!currentReport.locked">
							<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving() || currentReport.locked}" class="section-content">{{cr.authors}}</p>
						</div>
					</div>
					<div class="col-md-5">
						<div simple-property-editor editor-title="report.codereviews.topic" editor-on-save="updateReport(modifiedProperty, prevValue, true, $index, 'codeReviews');" editor-placeholder="report.codereviews.topic.ph" editor-required editor-field="underReview" editor-entity="currentReport.codeReviews[$index]" editor-type="textfield" editor-enabled="!currentReport.locked">
							<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving() || currentReport.locked}" class="section-content">
								<span l="report.codereviews.topic.ph" ng-hide="currentReport.codeReviews[$index].underReview" class="simple-property-placeholder" >Enter topic</span>
								{{cr.underReview}}
							</p>
						</div>
					</div>				
					<div class="col-md-2">
						<button class="btn btn-warning btn-xs pull-right" ng-click="removeCodeReview($index);" ng-hide="currentReport.locked"><i class="glyphicon glyphicon-minus"></i></button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div simple-property-editor editor-title="report.codereviews.content" editor-on-save="updateReport(modifiedProperty, prevValue, true, $index, 'codeReviews');" editor-placeholder="report.codereviews.content.ph" editor-required editor-field="results" editor-entity="currentReport.codeReviews[$index]" editor-type="textarea" editor-enabled="!currentReport.locked">
							<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving() || currentReport.locked}" class="section-content">
								<span l="report.codereviews.content.ph" ng-hide="currentReport.codeReviews[$index].results" class="simple-property-placeholder" >Enter results</span>
								<span ng-bind-html="currentReport.codeReviews[$index].results | breakFilter"></span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Systems -->
	<div class="row section">
		<div class="col-md-12">
			<div style="margin-bottom: 15px;">			
				<button class="btn btn-primary btn-sm pull-right" ng-click="addSystem();" ng-hide="currentReport.locked"><i class="glyphicon glyphicon-plus"></i></button>
				<p l="report.systems" class="section-header">Systems</p>			
			</div>
			<div ng-repeat="record in currentReport.systems" style="margin-bottom: 15px;">
				<div class="row section-row">
					<div class="col-md-5">	
						<div simple-property-editor editor-title="report.systems.name" editor-on-save="updateReport(modifiedProperty, prevValue, true, $index, 'systems');" editor-placeholder="report.systems.name.ph" editor-field="name" editor-entity="currentReport.systems[$index]" editor-type="textfield" editor-enabled="!currentReport.locked">
							<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving() || currentReport.locked}" class="section-content">
								<span l="report.systems.name.ph" ng-hide="currentReport.systems[$index].name" class="simple-property-placeholder" >Enter name</span>
								{{record.name}}
							</p>
						</div>
					</div>
					<div class="col-md-5">						
						<div simple-property-editor editor-title="report.systems.url" editor-on-save="updateReport(modifiedProperty, prevValue, true, $index, 'systems');" editor-placeholder="report.systems.url.ph" editor-field="url" editor-entity="currentReport.systems[$index]" editor-type="textfield" editor-enabled="!currentReport.locked">							
							<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving() || currentReport.locked}" class="section-content">
								<span l="report.systems.url.ph" ng-hide="currentReport.systems[$index].url" class="simple-property-placeholder" >Enter url</span>
								{{record.url}}
							</p>
						</div>
						<!-- class="btn btn-info btn-xs hidden-print pull-left" -->
						<a ng-href="{{currentReport.systems[$index].url}}" target="_blank" ng-show="isUrl(currentReport.systems[$index].url)" class="hidden-print">
							<i class="glyphicon glyphicon-globe"></i> Link
						</a>
					</div>
					<div class="col-md-2">						
						<button class="btn btn-warning btn-xs pull-right" ng-click="removeSystem($index);" ng-hide="currentReport.locked"><i class="glyphicon glyphicon-minus"></i></button>					
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div simple-property-editor editor-title="report.systems.remarks" editor-on-save="updateReport(modifiedProperty, prevValue, true, $index, 'systems');" editor-placeholder="report.systems.remarks.ph" editor-field="remarks" editor-entity="currentReport.systems[$index]" editor-type="textarea" editor-enabled="!currentReport.locked">
							<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving() || currentReport.locked}" class="section-content">
								<span l="report.systems.remarks.ph" ng-hide="currentReport.systems[$index].remarks" class="simple-property-placeholder">Enter remarks</span>
								<span ng-bind-html="currentReport.systems[$index].remarks | breakFilter"></span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Notifications -->
	<div class="row section hidden-print">
		<div class="col-md-12">
			<div style="margin-bottom: 15px;">			
				<button class="btn btn-primary btn-sm pull-right" ng-click="addRecipient();" ng-hide="currentReport.locked"><i class="glyphicon glyphicon-plus"></i></button>
				<p l="report.notification" class="section-header">Notification</p>
			</div>
			<div ng-repeat="recipient in currentReport.settings.notification.recipients" style="margin-bottom: 15px;">
				<div class="row section-row">
					<div class="col-md-2">	
						<select ng-model="currentReport.settings.notification.recipients[$index].type" ng-change="updateReport();"  class="form-control"  style="width: 100px;" ng-disabled="currentReport.locked">
							<option value="">- Type -</option>
							<option value="email">E-Mail</option>
							<option value="slack">Slack</option>
						</select>
					</div>
					<div class="col-md-8">	
						<div simple-property-editor editor-title="report.notification.recipient" editor-on-save="updateReport(modifiedProperty, prevValue, true, $index, 'settings.notification.recipients');" editor-placeholder="report.notification.recipient.ph" editor-field="email" editor-entity="currentReport.settings.notification.recipients[$index]" editor-type="text" editor-enabled="!currentReport.locked">
							<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving() || currentReport.locked}" class="section-content">
								<span l="report.notification.recipient.ph" ng-hide="currentReport.settings.notification.recipients[$index].email" class="simple-property-placeholder" >Enter email recipient</span>
								{{recipient.email}}
							</p>
						</div>					
					</div>					
					<div class="col-md-2">						
						<button class="btn btn-warning btn-xs pull-right" ng-click="removeRecipient($index);" ng-hide="currentReport.locked"><i class="glyphicon glyphicon-minus"></i></button>					
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Images -->
	<div class="row section images-section">
		<div class="col-md-12">
		<p l="report.images" class="section-header">Architecture diagrams</p>	
	<!-- 	<button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
	  Popover on left
	</button> -->
			<div class="row" style="margin-bottom: 50px;">
				<div class="col-md-12">
					<div ng-repeat="i in currentReport.images" class="report-image section-row" ng-class="{'report-image-locked': currentReport.locked}">
						<button class="btn btn-primary btn-sm btn-warning image-delete-button"><i class="glyphicon glyphicon-trash" ng-click="deleteReportImage(i);"></i></button>
						<img ng-src="{{config.getCombinedServiceUrl()}}{{i._links.self.href}}" alt="{{i.name}}"/><br/>
						<a href="{{config.getCombinedServiceUrl()}}{{i._links.self.href}}" target="_blank" class="no-print">
							{{i.name}}
						</a>
					</div>
				</div>
			</div>
			<!-- Define complete report as drop area for files. -->
			<div ng-hide="currentReport.locked" class="no-print">
				<div class="row file-area" style="margin-bottom: 10px">
					<div class="col-md-5">
						<div ng-file-drop ng-file-over="file-drop-over" class="file-drop">
							<span l="file.dropzone">Drop images</span>
						</div>
					</div>
					<div class="col-md-2">
						<span l="or" style="text-align: center">or</span>
					</div>
					<div class="col-md-5">
						<input ng-file-select type="file" multiple  />
					</div>
				</div>	
				<div class="row">
					<div class="col-md-12">
						<div class="progress" style="">
		                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
		                </div>
					</div>
				</div>	
				<div ng-show="uploader.queue.length > 0">
					<table class="table">
			            <thead>
			                <tr>
			                    <th width="50%">Name</th>
			                    <th ng-show="uploader.isHTML5">Size</th>
			                    <th ng-show="uploader.isHTML5">Progress</th>
			                    <th>Status</th>
			                    <!-- <th>Actions</th> -->
			                </tr>
			            </thead>
			            <tbody>
			                <tr ng-repeat="item in uploader.queue">
			                    <td><strong>{{ item.file.name }}</strong></td>
			                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
			                    <td ng-show="uploader.isHTML5">
			                        <div class="progress" style="margin-bottom: 0;">
			                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
			                        </div>
			                    </td>
			                    <td class="text-center">
			                        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
			                        <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
			                        <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
			                    </td>
			                  <!--   <td nowrap>
			                        <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
			                            <span class="glyphicon glyphicon-upload"></span> Upload
			                        </button>
			                        <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
			                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
			                        </button>
			                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
			                            <span class="glyphicon glyphicon-trash"></span> Remove
			                        </button>
			                    </td> -->
			                </tr>
			            </tbody>
			        </table>
			         <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
			            <span class="glyphicon glyphicon-upload"></span> Upload all
			        </button>
			        <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
			            <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
			        </button>
			        <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
			            <span class="glyphicon glyphicon-trash"></span> Remove all
			        </button>	
		        </div>		
	    	</div>
		</div>
	</div>
</div>
<div class="row section hidden-print">
	<div class="col-md-12">
		<a href="#/reports/{{currentReport.copyOf}}" ng-show="currentReport.copyOf"><i class="glyphicon glyphicon-download"></i> <span l="report.copyof">This is a copy.</span></a>
		<div>
			<span ng-show="currentReport.createdOn"><span l="report.createdon">Creation date</span>: {{currentReport.createdOn | date:'yyyy-MM-dd HH:mm:ss'}}</span>
			<span ng-show="currentReport.createdOn && currentReport.lastModified"> | </span>
			<span ng-show="currentReport.lastModified"> <span l="report.lastmodified">Last modified</span>: {{currentReport.lastModified | date:'yyyy-MM-dd HH:mm:ss'}} </span>		
		</div>
	</div>
</div>
<div ng-show="reportNotFound">
	<div class="row">
		<div class="col-md-12">
			<a href="#/reports"><i class="glyphicon glyphicon-chevron-left"></i> <span l="back">back</span></a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h2 l="report.notfound.title">Report not found</h2>
			<p l="report.notfound.message">Could not load given report. Maybe it was deleted?</p>
		</div>
	</div>
</div>

<div ng-include src="'views/templates/costDialog.html'" id="costDialog"></div>