<div class="row">
	<div class="alert alert-danger" ng-show="deleteTimer">
		<h4><span l="report.killing.msg">Deleting report {{reportToDelete.name}} in</span> {{remainingSecondsBeforeDoomsday}}</h4>
		<br/>
		<button ng-click="delayDoomsday()" class="btn btn-warning" l="cancel">Cancel</button>
	</div>
</div>
<div class="row" style="margin-bottom: 10px;">
	<form role="form" class="col-md-12">	
		<div class="form-group">
			<div class="input-group">
				<input type="text" class="form-control" l="reports.new" l-attribute="placeholder" placeholder="New report" ng-model="newReportName" typeahead="name for name in projectNames | filter:$viewValue | limitTo:8"></input>
				<span class="input-group-btn">
					<button type="submit" class="btn btn-primary" ng-click="createNewReport()" ng-disabled="!newReportName"><i class="glyphicon glyphicon-plus"></i> <span l="reports.new.button">New Report</span>					
				</button>	 
				</span>
			</div>
		</div>		
	</form>		
</div>
<div class="row" style="margin-bottom: 20px;">	
	<form role="form">	
		<div class="form-group col-md-6">
			<div class="input-group">
			  <span class="input-group-addon">
			  	<i class="glyphicon glyphicon-search"></i>
			  </span>
			  <input type="text" class="form-control" l="search" l-attribute="placeholder" placeholder="search" ng-model="search.name">
			  <span class="input-group-btn">
			  	<button class="btn btn-default" type="button" ng-click="search.name = '';"><i class="glyphicon glyphicon-remove"></i></button>
			  </span>
			</div>
		</div>
		<div class="form-group col-md-3">
			<div class="input-group">			  
				<select ng-model="search.week" ng-options="c.week as c.week for c in weeks"  class="form-control" >	
					<option value="" l="all">all</option>
				</select>
				<span class="input-group-btn">
			  		<button class="btn btn-default" type="button" ng-click="search.week = currentCalWeek;"><i class="glyphicon glyphicon-screenshot"></i></button>
			  		<button class="btn btn-default" type="button" ng-click="search.week = '';"><i class="glyphicon glyphicon-resize-vertical"></i></button>
			  </span>
			</div>
		</div>		
		<div class="form-group col-md-2">
			<select ng-model="search.year" class="form-control"  >
				<option value="2014">2014</option>
				<option value="2015">2015</option>
				<option value="2016">2016</option>
				<option value="2017">2017</option>
			</select>
		</div>		
		<div class="form-group col-md-1">
			<button class="btn btn-primary btn-block pull-right" ng-click="loadReports()"><i class="glyphicon glyphicon-refresh"></i></button>
		</div>
	</form>	
</div> 
<div class="row">
<div class="col-md-12">	
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<th l="reports.table.name">Project name</th>
				<th l="reports.table.week">Week</th>
				<th l="reports.table.year">Year</th>
				<th><i class="glyphicon glyphicon-piggy-bank"></i></th>
				<th><i class="glyphicon glyphicon-hourglass"></i></th>
				<th><i class="glyphicon glyphicon-thumbs-up"></i></th>			
				<th><i class="glyphicon glyphicon-picture"></i></th>
				<th l="reports.table.actions">Actions</th>
			</thead>
			<tbody>
				<tr ng-repeat="r in reports | orderBy:['year','week']" ng-click="showReport(r._id, $event)">
					<td><a href="#/reports/{{r._id}}"><i class="glyphicon glyphicon-edit"></i> {{r.name}}</a></td>
					<td>{{r.week}}</td>
					<td>{{r.year}}</td>
					<td>
						<div class="state-marker" ng-class="getStateColor(r.budgetState)"></div>
					</td>
					<td>
					<div class="state-marker" ng-class="getStateColor(r.timeState)"></div>
					</td>
					<td>
					<div class="state-marker" ng-class="getStateColor(r.qualityState)"></div>
					</td>
					<td>{{r.images.length}}</td>
					<td>
						<span simple-confirm-dialog dialog-title="report.copy.title" dialog-text="report.copy.text" dialog-on-confirm="copyReport(r)" dialog-confirm-button="copy">
							<button class="btn btn-primary btn-xs copy-button"><i class="icon-copy"></i></button>
						</span>
						<span simple-confirm-dialog dialog-title="report.delete.title" dialog-text="report.delete.text" dialog-on-confirm="deleteReport(r)" dialog-confirm-button="delete" dialog-confirm-btn-cls="btn-danger">
							<button type="button" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i></button>
						</span>	
					</td>
				</tr>			
			</tbody>
		</table>
	</div>
	<div>
		<ul class="pager">
		  <li class="previous"><a href="" ng-show="reportsWrapper._links.prev" ng-click="loadReports('prev')"><i class="glyphicon glyphicon-chevron-left"></i></a></li>
		  <li ng-show="reportsWrapper.totalPages > 1">
		  		{{reportsWrapper.currentPage}}/{{reportsWrapper.totalPages}}
		  </li>
		  <li class="next"><a href="" ng-show="reportsWrapper._links.next" ng-click="loadReports('next')"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
		</ul>
	</div>
</div>
</div>