<!-- Report modified 428 dialog -->
<div class="modal fade" id="dialogModifiedReport">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" l="report.428.title">Report modified</h4>
      </div>
      <div class="modal-body">
        <p l="report.428.msg">Report has been modified in the meantime. You can reload and discard your last change or cancel, then copy your last change and reload manually. The undo stack has been emptied to prevent overrides.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" l="report.428.cancel">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="reloadReport(false);" l="report.428.reload">Reload and discard</button>
      </div>
    </div>
  </div>
</div>
<div ng-show="currentReport._id">
	<div class="alert alert-danger" ng-show="deleteTimer">
		<h4><span l="report.killing.msg">Deleting report {{reportToDelete.name}} in</span> {{remainingSecondsBeforeDoomsday}}</h4>
		<br/>
		<button ng-click="delayDoomsday()" class="btn btn-warning" l="cancel">Cancel</button>
	</div>	
	<!-- Report detail view. -->
	<div class="row hidden-print">
		<div class="col-md-4">
			<a href="#/reports"><i class="glyphicon glyphicon-chevron-left"></i> <span l="reports.back">Reports</span></a>
			<!-- <a href="#/reports/{{currentReport.copyOf}}" ng-show="currentReport.copyOf" class="pull-right"><i class="glyphicon glyphicon-download"></i> <span l="report.copyof">This is a copy.</span></a>		 -->
		</div>
		<!-- Action bar -->
		<div class="col-md-8">
			<div ng-include src="'views/reports_detail/actionbar.html'"></div>
		</div>
	</div>
    <!-- Display company logo in print view-->
    <div class="visible-print-inline">
        <div class="row report-brand">        
            <div ng-show="brandLogoExists">
                <img ng-src="{{brandLogo}}">
            </div>
        </div>
    </div>
    
	<div class="row section report-title">
		<div class="col-md-12">
			<div simple-property-editor editor-title="report.name" editor-on-save="updateReport(modifiedProperty, prevValue);" editor-placeholder="report.name" editor-required editor-field="name" editor-entity="currentReport" editor-enabled="!currentReport.locked">				
				<h1 ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving() || currentReport.locked}">				
					{{currentReport.name}}
				</h1>								
			</div>
		</div>        
	</div>
	<div class="row section">
		<div class="col-md-4">
			<div simple-property-editor editor-title="report.ordernumber.title" editor-on-save="updateReport(modifiedProperty, prevValue);" editor-placeholder="report.ordernumber.ph" editor-required editor-field="orderNumber" editor-entity="currentReport" editor-enabled="!currentReport.locked">
				<span l="report.ordernumber.title">#Order</span>
				<span ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving() || currentReport.locked}" class="section-content">	
				<span l="report.ordernumber.ph" ng-hide="currentReport.orderNumber" class="simple-property-placeholder">Enter Order</span>		
					{{currentReport.orderNumber}}
				</span>
			</div>
		</div>
	</div>
	<div class="row section">
		<!-- Signals -->
		<div class="col-md-4">
			<signal signal-title="report.signal.budget" signal-field="budgetState" signal-entity="currentReport" on-signal-change="updateReport(modifiedProperty, prevValue)" signal-enabled="!currentReport.locked"></signal>
			<signal signal-title="report.signal.time" signal-field="timeState" signal-entity="currentReport" on-signal-change="updateReport(modifiedProperty, prevValue)" signal-enabled="!currentReport.locked"></signal>
			<signal signal-title="report.signal.quality" signal-field="qualityState" signal-entity="currentReport" on-signal-change="updateReport(modifiedProperty, prevValue)" signal-enabled="!currentReport.locked"></signal>
			<div style="clear:both;"></div>
		</div>
		<!-- Costs -->
		<div class="col-md-8">		
			<table class="table">
				<thead>
					<th l="report.costs.table.th.title">K€</th>
					<th l="report.costs.table.th.plan">Plan</th>
					<th l="report.costs.table.th.current">Current</th>
					<th l="report.costs.table.th.rest">Rest</th>
					<th>Δ%</th>
				</thead>
				<tbody>
					<tr>
						<th l="report.costs.table.tr.title">COST(total)</th>
						<td>
						<div simple-property-editor editor-title="report.costs.plan" editor-on-save="updateReport(modifiedProperty, prevValue);" editor-field="costsPlanned" editor-entity="currentReport" editor-enabled="!currentReport.locked" editor-type="number" editor-placeholder="report.costs.plan.ph" editor-validate="value >= 0" editor-validate-text="report.costs.plan.invalid">			
								<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving() || currentReport.locked}" class="section-content">	
								<span l="report.costs.plan.ph" ng-hide="currentReport.costsPlanned || isZero(currentReport.costsPlanned)" class="simple-property-placeholder">Planned costs</span>		
									{{currentReport.costsPlanned}}
								</p>
							</div>
						</td>
						<td>					
						<cost-type-dialog id="costDialog" report="currentReport"></cost-type-dialog>
						</td>
						<td>
							<div simple-property-editor editor-title="report.costs.rest" editor-on-save="updateReport(modifiedProperty, prevValue);" editor-field="costsRest" editor-entity="currentReport" editor-enabled="!currentReport.locked" editor-placeholder="report.costs.rest.ph">			
								<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving() || currentReport.locked}" class="section-content">	
								<span l="report.costs.rest.ph" ng-hide="currentReport.costsRest" class="simple-property-placeholder">Remaining</span>		
									{{currentReport.costsRest}}
								</p>
							</div>
						</td>
						<td>{{currentReport.costsDelta}}</td>
					</tr>
				</tbody>
			</table>
			<table class="table">
				<thead>
					<th></th>
					<th l="report.time.plan.title">Plan</th>
					<th l="report.time.current.title">Current</th>
				</thead>
				<tbody>
					<tr>
						<th l="report.time.time.title">Time</th>
						<td class="reports-time">
						<div simple-property-editor editor-title="report.time.plan" editor-on-save="updateReport(modifiedProperty, prevValue);" editor-field="timePlanned" editor-entity="currentReport" editor-enabled="!currentReport.locked" editor-placeholder="report.time.plan.ph" editor-type="datepicker">			
								<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving() || currentReport.locked}" class="section-content">	
								<span l="report.time.plan.ph" ng-hide="currentReport.timePlanned" class="simple-property-placeholder">GoLive planned</span>		
									{{currentReport.timePlanned | date:'yyyy-MM-dd'}}
								</p>
							</div>
						</td>
						<td class="reports-time">
							<div simple-property-editor editor-title="report.time.current" editor-on-save="updateReport(modifiedProperty, prevValue);" editor-field="timeCurrent" editor-entity="currentReport" editor-enabled="!currentReport.locked" editor-placeholder="report.time.current.ph" editor-type="datepicker">			
								<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving() || currentReport.locked}" class="section-content">	
								<span l="report.time.current.ph" ng-hide="currentReport.timeCurrent" class="simple-property-placeholder">Current time</span>		
									{{currentReport.timeCurrent | date:'yyyy-MM-dd'}}
								</p>
							</div>							
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row section">
		<div class="col-md-6">
			<p l="report.year" class="section-header">Year</p>
			<select ng-model="currentReport.year" ng-options="y as y for y in years" ng-change="updateReportYear(currentReport.year, '{{currentReport.year}}');"  class="form-control hidden-print"  style="width: 100px;" ng-disabled="currentReport.locked">
			</select>
			<p class="visible-print">{{currentReport.year}}</p>
		</div>
		<div class="col-md-6">
			<p l="report.week" class="section-header">Calendar week</p>
			<form class="form-inline hidden-print" style="width:178px;">
  				<div class="form-group">
  					<div class="input-group">
	  					<div class="input-group-btn">
							<button class="btn btn-default" ng-click="incrementalUpdateReportWeek('dec')" ng-disabled="currentReport.locked"><i class="glyphicon glyphicon-minus"></i></button>
						</div>
						<select class="form-control" ng-model="currentReport.week" ng-change="updateReportWeek(currentReport.week, '{{currentReport.week}}');" ng-options="c.week as c.week for c in weeks"  class="form-control hidden-print" style="width: 100px;" ng-disabled="currentReport.locked">
						</select>
						<span class="input-group-btn">
							<button class="btn btn-default" ng-click="incrementalUpdateReportWeek('inc')" ng-disabled="currentReport.locked"><i class="glyphicon glyphicon-plus"></i></button>
						</span>
					</div>
				</div>
			</form>
			<p class="visible-print">{{currentReport.week}}</p>
		</div>
	</div>
	<div class="row section">
		<div class="col-md-6">
			<p l="report.executivesponsor.title" class="section-header">Executive Sponsor</p>
			<div simple-property-editor editor-title="report.executivesponsor.title" editor-on-save="updateReport(modifiedProperty, prevValue);" editor-placeholder="report.executivesponsor.ph" editor-field="executiveSponsor" editor-entity="currentReport" editor-enabled="!currentReport.locked">			
				<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving() || currentReport.locked}" class="section-content">		<span l="report.executivesponsor.ph" ng-hide="currentReport.executiveSponsor" class="simple-property-placeholder" >Executive Sponsor</span>
					{{currentReport.executiveSponsor}}
				</p>
			</div>
		</div>
		<div class="col-md-6">
			<p l="report.partner.title" class="section-header">Partner</p>
			<div simple-property-editor editor-title="report.partner.title" editor-on-save="updateReport(modifiedProperty, prevValue);" editor-placeholder="report.partner.ph" editor-field="partner" editor-entity="currentReport" editor-enabled="!currentReport.locked">			
				<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving() || currentReport.locked}" class="section-content">
					<span l="report.partner.ph" ng-hide="currentReport.partner" class="simple-property-placeholder" >Partner</span>
					{{currentReport.partner}}
				</p>
			</div>		
		</div>
	</div>
	<div class="row section">
		<div class="col-md-6">
			<p l="report.leaddevelopers.title" class="section-header">Lead developers</p>
			<div simple-property-editor editor-title="report.leaddevelopers.title" editor-on-save="updateReport(modifiedProperty, prevValue);" editor-placeholder="report.leaddevelopers.ph" editor-field="leadDevelopers" editor-entity="currentReport" editor-enabled="!currentReport.locked">			
				<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving() || currentReport.locked}" class="section-content">		<span l="report.leaddevelopers.ph" ng-hide="currentReport.leadDevelopers" class="simple-property-placeholder" >Project manager</span>
					{{currentReport.leadDevelopers}}
				</p>
			</div>
		</div>
		<div class="col-md-6">
			<p l="report.projectmanagers.title" class="section-header">Project manager</p>
			<div simple-property-editor editor-title="report.projectmanagers.title" editor-on-save="updateReport(modifiedProperty, prevValue);" editor-placeholder="report.projectmanagers.ph" editor-field="projectManagers" editor-entity="currentReport" editor-enabled="!currentReport.locked">			
				<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving() || currentReport.locked}" class="section-content">
					<span l="report.projectmanagers.ph" ng-hide="currentReport.projectManagers" class="simple-property-placeholder" >Project manager</span>
					{{currentReport.projectManagers}}
				</p>
			</div>		
		</div>
	</div>
	<!-- Milestones -->
	<div class="row section">
		<div class="col-md-12">		
			<div ng-include src="'views/reports_detail/milestones.html'"></div>
		</div>
	</div>
	<!-- Tasks -->
	<div class="row section">
		<div class="col-md-6">
			<p l="report.lastweektasks" class="section-header">Last week tasks</p>
			<div simple-property-editor editor-title="report.lastweektasks" editor-on-save="updateReport(modifiedProperty, prevValue);" editor-placeholder="report.tasks.ph" editor-field="lastWeekTasks" editor-entity="currentReport" editor-type="richtext" editor-enabled="!currentReport.locked">
				<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving() || currentReport.locked}" class="section-content">	
					<span l="report.tasks.ph" ng-hide="currentReport.lastWeekTasks" class="simple-property-placeholder" >Enter tasks</span>
					<span ng-bind-html="currentReport.lastWeekTasks | breakFilter"></span>
				</p>
			</div>
		</div>
		<div class="col-md-6">
			<p l="report.nextweektasks" class="section-header">Next week tasks</p>
			<div simple-property-editor editor-title="report.nextweektasks" editor-on-save="updateReport(modifiedProperty, prevValue);" editor-placeholder="report.tasks.ph" editor-field="nextWeekTasks" editor-entity="currentReport" editor-type="richtext" editor-enabled="!currentReport.locked">
				<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving() || currentReport.locked}" class="section-content">	
				<span l="report.tasks.ph" ng-hide="currentReport.nextWeekTasks" class="simple-property-placeholder" >Enter tasks</span>
				<span ng-bind-html="currentReport.nextWeekTasks | breakFilter"></span>
				</p>
			</div>
		</div>
	</div>
	<!-- Additional information -->
	<div class="row section">
		<div class="col-md-6">
			<p l="report.potentials" class="section-header">Identified potentials</p>
			<div simple-property-editor editor-title="report.potentials" editor-on-save="updateReport(modifiedProperty, prevValue);" editor-placeholder="report.potentials.ph" editor-field="potentials" editor-entity="currentReport" editor-type="richtext" editor-enabled="!currentReport.locked">			
				<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving() || currentReport.locked}" class="section-content" class="section-content">	
				<span l="report.potentials.ph" ng-hide="currentReport.potentials" class="simple-property-placeholder" >Enter</span>		
				<span ng-bind-html="currentReport.potentials | breakFilter"></span>
				</p>
			</div>
		</div>
		<div class="col-md-6">
			<p l="report.risks" class="section-header">Risks & Impediments</p>
			<div simple-property-editor editor-title="report.risks" editor-on-save="updateReport(modifiedProperty, prevValue);" editor-placeholder="report.risks.ph" editor-field="risksImpediments" editor-entity="currentReport" editor-type="richtext" editor-enabled="!currentReport.locked">			
				<p ng-class="{edit: !currentReport.isSaving(), muted: currentReport.isSaving() || currentReport.locked}" class="section-content" class="section-content">				
					<span l="report.risks.ph" ng-hide="currentReport.risksImpediments" class="simple-property-placeholder" >Enter risks/impediments</span>
					<span ng-bind-html="currentReport.risksImpediments | breakFilter"></span>
				</p>
			</div>		
		</div>
	</div>
	<!-- Systems -->
	<div class="row section hidden-print">
		<div class="col-md-12">		
			<div ng-include src="'views/reports_detail/systems.html'"></div>
		</div>
	</div>
	<!-- Notifications -->
	<div class="row section hidden-print">
		<div class="col-md-12">		
			<div ng-include src="'views/reports_detail/notifications.html'"></div>
		</div>
	</div>
	<!-- Images -->
	<div class="row section images-section">
		<div class="col-md-12">
		<div ng-include src="'views/reports_detail/images.html'"></div>
		</div>
	</div>
</div>
<div class="row section hidden-print">
	<div class="col-md-12">
		<a href="#/reports/{{currentReport.copyOf}}" ng-show="currentReport.copyOf"><i class="glyphicon glyphicon-download"></i> <span l="report.copyof">This is a copy.</span></a>
		<div>
			<span ng-show="currentReport.createdOn"><span l="report.createdon">Creation date</span>: {{currentReport.createdOn | date:'yyyy-MM-dd HH:mm:ss'}}</span>
			<span ng-show="currentReport.createdOn && currentReport.lastModified"> | </span>
			<span ng-show="currentReport.lastModified"> <span l="report.lastmodified">Last modified</span>: {{currentReport.lastModified | date:'yyyy-MM-dd HH:mm:ss'}} </span>
		</div>
	</div>
</div>
<div ng-show="reportNotFound">
	<div class="row">
		<div class="col-md-12">
			<a href="#/reports"><i class="glyphicon glyphicon-chevron-left"></i> <span l="back">back</span></a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h2 l="report.notfound.title">Report not found</h2>
			<p l="report.notfound.message">Could not load given report. Maybe it was deleted?</p>
		</div>
	</div>
</div>