<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger" ng-show="deleteTimer">
            <h4><span l="report.killing.msg">Deleting report {{reportToDelete.name}} in</span> {{remainingSecondsBeforeDoomsday}}</h4>
            <br/>
            <button ng-click="delayDoomsday()" class="btn btn-warning" l="cancel">Cancel</button>
        </div>
    </div>
</div>
<div class="row" style="margin-bottom: 10px;">
	<form role="form" class="col-md-12">	
		<div class="form-group">
			<div class="input-group">
				<input id="report_new_title_field" type="text" class="form-control" l="reports.new" l-attribute="placeholder" placeholder="New report" ng-model="newReportName" typeahead="name for name in projectNames | filter:$viewValue | limitTo:8" autocomplete="off"></input>
				<span class="input-group-btn">
					<button type="submit" class="btn btn-primary" ng-click="createNewReport()" ng-disabled="!newReportName"><i class="glyphicon glyphicon-plus"></i></button>	 
				</span>
			</div>
		</div>		
	</form>		
</div>
<div class="row" style="margin-bottom: 20px;">	
	<form role="form">	
		<div class="form-group col-md-6">
			<div class="input-group">
			  <span class="input-group-addon">
			  	<i class="glyphicon glyphicon-search"></i>
			  </span>
			  <input id="report_search_field" type="text" class="form-control" l="search" l-attribute="placeholder" placeholder="search" ng-model="search.name">
			  <span class="input-group-btn">
			  	<button class="btn btn-default" type="button" ng-click="search.name = '';"><i class="glyphicon glyphicon-remove"></i></button>
			  </span>
			</div>
		</div>
		<div class="form-group col-md-3">
			<div class="input-group">			  
				<select ng-model="search.week" ng-options="c.week as c.week for c in weeks"  class="form-control" >	
					<option value="" l="all">all</option>
				</select>
				<span class="input-group-btn">
			  		<button class="btn btn-default" type="button" ng-click="resetSearchCal();"><i class="glyphicon glyphicon-screenshot"></i></button>
			  		<button class="btn btn-default" type="button" ng-click="search.week = '';"><i class="glyphicon glyphicon-resize-vertical"></i></button>
			  </span>
			</div>
		</div>		
		<div class="form-group col-md-2">
			<select ng-model="search.year" class="form-control" ng-options="y for y in years">
			</select>
		</div>		
		<div class="form-group col-md-1">
			<button class="btn btn-primary btn-block pull-right" ng-click="loadReports()"><i class="glyphicon glyphicon-refresh"></i></button>
		</div>
	</form>	
</div> 
<div class="row">
<div class="col-md-12">	
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<th ng-click="sortList('name_normalized')" class="column-sortable"><span l="reports.table.name">Project name</span> 
					<i class="glyphicon glyphicon-arrow-up" ng-show="search.sortProperty == 'name_normalized' && search.sortDirection == 'desc'"></i>
					<i class="glyphicon glyphicon-arrow-down" ng-show="search.sortProperty == 'name_normalized' && search.sortDirection == 'asc'"></i> 
				</th>
				<th ng-click="sortList('week')" style="width:80px" class="column-sortable">
					<span l="reports.table.week">Week</span>
					<i class="glyphicon glyphicon-arrow-down" ng-show="search.sortProperty == 'week' && search.sortDirection == 'desc'"></i>
					<i class="glyphicon glyphicon-arrow-up" ng-show="search.sortProperty == 'week' && search.sortDirection == 'asc'"></i>
				</th>
				<th l="reports.table.year">Year</th>
				<th><i class="glyphicon glyphicon-euro"></i></th>
				<th><i class="glyphicon glyphicon-hourglass"></i></th>
				<th><i class="glyphicon glyphicon-thumbs-up"></i></th>
				<th>Δ%</th>			
				<th><i class="glyphicon glyphicon-picture"></i></th>
				<th l="reports.table.actions">Actions</th>
			</thead>
			<tbody>
				<tr ng-repeat="r in reports | orderBy:['year']" ng-click="showReport(r._id, $event)" ng-class="{'row-selected' : $index == selectedReportSearchRow}">
					<td><a href="#/reports/{{r._id}}"><i class="glyphicon glyphicon-edit"></i> {{r.name}}</a></td>
					<td>{{r.week}}</td>
					<td>{{r.year}}</td>
					<td>
						<div class="state-marker" ng-class="getStateColor(r.budgetState)"></div>
					</td>
					<td>
					<div class="state-marker" ng-class="getStateColor(r.timeState)"></div>
					</td>
					<td>
					<div class="state-marker" ng-class="getStateColor(r.qualityState)"></div>
					</td>
					<td>{{r.costsDelta}}</td>
					<td>{{r.images.length}}</td>
					<td>
						<span simple-confirm-dialog dialog-title="report.copy.title" dialog-text="report.copy.text" dialog-on-confirm="copyReport(r)" dialog-confirm-button="copy">
							<button class="btn btn-primary btn-xs copy-button"><i class="icon-copy"></i></button>
						</span>
						<span simple-confirm-dialog dialog-title="report.delete.title" dialog-text="report.delete.text" dialog-on-confirm="deleteReport(r)" dialog-confirm-button="delete" dialog-confirm-btn-cls="btn-danger">
							<button type="button" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i></button>
						</span>	
					</td>
				</tr>			
			</tbody>
		</table>
	</div>
	<div>
		<ul class="pager">
		  <li class="previous"><a href="" ng-show="reportsWrapper._links.prev" ng-click="loadReports('prev')"><i class="glyphicon glyphicon-chevron-left"></i></a></li>
		  <li ng-show="reportsWrapper.totalPages > 1">
		  		{{reportsWrapper.currentPage}}/{{reportsWrapper.totalPages}}
		  </li>
		  <li class="next"><a href="" ng-show="reportsWrapper._links.next" ng-click="loadReports('next')"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
		</ul>
	</div>
</div>
</div>