@media print {

  @page {
    size: landscape;
    margins: 3cm;
  }

  .file-area, .simple-property-placeholder, button {
    display: none !important;
  }

  .no-print {
    display: none !important;
  }

  .images-section {
    page-break-before: always;
  }

  .section-header {
    font-size: 14px !important;
    color: #000 !important;
  }

  /*Bugfixes for printing issues. http://stackoverflow.com/questions/20243767/printing-page-with-bootstrap-3 */
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666666666666%;
  }
  .col-md-10 {
    width: 83.33333333333334%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666666666666%;
  }
  .col-md-7 {
    width: 58.333333333333336%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666666666667%;
  }
  .col-md-4 {
    width: 33.33333333333333%;
   }
   .col-md-3 {
     width: 25%;
   }
   .col-md-2 {
     width: 16.666666666666664%;
   }
   .col-md-1 {
    width: 8.333333333333332%;
   }   

   body {
    padding: 0px;
    margin: 0px;
  }

  .section {
    /*border: 1px solid gray;*/
    /*padding: 5px;*/
    /*border-radius: 3px;*/
    page-break-inside: avoid;
    margin-bottom: 15px;
  }

}