<!-- A popup that show the raw json data of current report. Nerd feature. -->
<a type="button" href='' data-toggle="modal" data-target=".report-raw-data-modal">Raw data</a>
<script>
    function calcRawDataModalHeight(elem) {
        var _elem = angular.element('.report-raw-data-modal .modal-body'),
            _height;
        if(!_elem) {
            return;
        }
        _height = window.innerHeight - 125 + 'px';
        _elem.css('max-height', _height);
    }
    calcRawDataModalHeight();
</script>
<div class="modal fade report-raw-data-modal" tabindex="-1" role="dialog" aria-labelledby="reportRawDataModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Raw report data (JSON)</h4>
            </div>
            <div class="modal-body" style="overflow-y: auto;">
                <pre pretty-json="currentReport"></pre>
            </div>
        </div>
    </div>
</div>