<div class="compose-button">
    <div class="fab btn-group show-on-hover dropup">
        <div data-toggle="tooltip" uib-tooltip-html="language.translate('reports.new.button')" tooltip-placement="left" style="margin-left: 42px;">
            <span simple-confirm-dialog dialog-title="report.new" dialog-text="report.new.text" dialog-on-confirm="" dialog-confirm-button="create">
                <button type="button" class="btn btn-primary btn-io dropdown-toggle" data-toggle="dropdown">
                    <span class="fa-stack fa-2x">
                    <i class="fa fa-circle fa-stack-2x fab-backdrop"></i>
                    <i class="fa fa-plus fa-stack-1x fa-inverse fab-primary"></i>
                    <i class="fa fa-pencil fa-stack-1x fa-inverse fab-secondary"></i>
                    </span>
                </button>
            </span>
        </div>
    </div>
</div>