<p ng-class="{edit: !costReport.isSaving(), muted: costReport.isSaving() || costReport.locked}" class="section-content" ng-click="toggleCostDialog()">
  <span l="report.costs.current.ph" ng-hide="costReport.costsCurrent || isZero(costReport.costsCurrent)" class="simple-property-placeholder">Current costs</span>    
    {{costReport.costsCurrent}}
</p>
<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" l="report.costs.dialog.title">Current costs</h4>
      </div>
      <div class="modal-body">
        <p l="report.costs.dialog.msg">Enter hours spend on the project.</p>
        <form class="form-horizontal">
           <div class="table-responsive">
        <table class="table table-condensed table-responsive">
            <thead>
                <th l="report.costs.dialog.table.type">Type</th>
                <th l="report.costs.dialog.table.quantity">Quantity</th>
                <th l="report.costs.dialog.table.unit" style="width: 75px;">Unit</th>
                <th l="report.costs.dialog.table.costsPerUnit">€/Unit</th>
                <th style="min-width: 35px;">k€</th>
                <th></th>
            </thead>
            <tbody>
                <tr ng-repeat="cost in temp.costs">
                <td>
                <input type="text" class="form-control" ng-model="cost.name"/>
                </td>
                <td>
                <input type="number" class="form-control" ng-model="cost.quantity" id="COST_INPUT_{{$index}}"/>
                </td>
                <td>
                <input type="text" class="form-control" ng-model="cost.unit"/>
                </td>
                <td>
                <input type="number" class="form-control" ng-model="cost.costsPerUnit"/>
                </td>
                <td>
                <p class="form-control-static">
                 {{calculateCostForPosition(cost)}}
                </p>
                </td>
                <td>
                <button class="form-control btn btn-sm btn-warning" l="report.costs.dialog.record.delete" ng-click="removeCostType($index);"><i class="glyphicon glyphicon-minus"></i></button>
                </td>  
                </tr>   
            </tbody>
        </table>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="addCostType()"><i class="glyphicon glyphicon-plus"></i></button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i></button>
        <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="calculateCosts()"><i class="glyphicon glyphicon-ok"></i></button>
      </div>
    </div>
  </div>
</div>