<div>
<span simple-confirm-dialog dialog-title="report.copy.title" dialog-text="report.copy.text" dialog-on-confirm="copyReport(r)"
dialog-confirm-button="copy">
                                    <button class="btn btn-primary btn-xs copy-button"><i class="icon-copy"></i></button>
                                </span>
<span simple-confirm-dialog dialog-title="report.delete.title" dialog-text="report.delete.text" dialog-on-confirm="deleteReport(r)"
dialog-confirm-button="delete" dialog-confirm-btn-cls="btn-danger">
                                    <button type="button" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i></button>
                                </span>
</div>